@*@model StoreMVC.Models.Candy*@
@model Candy


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Done</title>
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<body>
    <h1>Well done! Your candy @Model.Name added in <a asp-action="CandyList" style="text-decoration-line: underline;">candy list</a>.</h1>
</body>
</html>
